.main-section {
    border-bottom: 1px solid #ddd;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

.header-section {
    display: flex;
}

.header-left {
    width: 50%;
}
img {
    margin: 10px 0px;
    margin-bottom: 5px;
}


.header-right {
    width: 50%;
    text-align: right;
}

ul {
    list-style: none;
    height: 100%;
    margin: 0;
}

li {
    display: inline-block;
    padding: 25.5px 14px;
}
li.facebook {
    padding-right: 0px;
}
li.instagram {
    padding-right: 0;
}
a {
    color: #141414;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 25px 0;
    position: relative;
}
a:hover{
	color: #1980d0;
}
li a:after {
    content: '';
    background: #1980d0;
    width: 0%;
    position: absolute;
    bottom: 20px;
    left: 0;
    transition: all 400ms ease;
    height: 2px;
    border-radius: 5px;
}

li a:hover:after{
	width: 100%;
}

li.search a:hover:after,
li.facebook a:hover:after,
li.instagram a:hover:after{
	width: 0%;
}

i.fas.fa-search ,
i.fab.fa-facebook-f,
i.fab.fa-instagram{
    color: #8b8b8b;
    font-size: 15px;
}

.search:hover a
.facebook:hover a
.instagram:hover a{
	border-bottom: none!important;
}

a:hover i.fas.fa-search,
a:hover i.fab.fa-facebook-f,
a:hover i.fab.fa-instagram{
	color: #1980d0!important;
}
